<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>contact</title>
    <link rel="stylesheet" href="../static/text.css">

    <style>
 
    </style>
</head>
<body>
                   <h1>OUR CONTACT</h1>
    <div class="Hello">
        <form method="POST">
            {% csrf_token %}

            {{form.username.label}}<br>
            {{form.username}}<br>
            {{form.email.label}}<br>
            {{form.email}}<br>
            {{form.comment.label}}<br>
            {{form.comment}}<br>
            <button type="submit" style="width: 3cm;">SUBMIT</button>
            <button onclick="location.href='/home'" style="width: 3cm;"> Home</button>

            <br><br>
            Contact information<br>
Phone call number is currently unavailable.<br>
IT Specialist:tec@gmail.com<br>
Other inquiries:movie@gmail.com<br>

        </form>
    </div>    
    </body>
    </html>