<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>upload video</title>
    {% load static %}
    <link rel="stylesheet" href="../static/text.css">
    <style>
        body{
            background: url("../media/photoes/wp.jpg");
            background-size:cover;
            background-position: center;
            font-family: sans-serif;
        }
    
    </style>
</head>
<body>
<div class="Hello1">  
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{forms.as_p}}
    <button type="submit" value="Submit" name="user " style="width: 3cm;">submit</button>
    <button onclick="location.href='/home'" style="width: 3cm;"> Home</button>
</form>
</div>
</body>
</html>